<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <script scr ="main.js"></script>
    <title>Delivery Page</title>
    <link rel="stylesheet" href="./style.css" />

</head>
<header>
    <h1> Delivery Page</h1>
    <a href="index.html"> Click Here to see Home Page</a>

</header>
<!-- info for delivery to be made by the butcher shop -->
<body>
    
    
    

    <div id="app">
        <p> Email Name</p>
        <input v-model='email'
         placeholder="Please Enter Email"
         />
         <p>Email is: {{email}} </p>

         <p> Location names: {{checkedNames}} </p>
         <p> We only deliver to these select locations </p>

         <input type='checkbox' id='Wantirna' value='Wantirna' v-model='checkedNames'>
         <label for="Wantirna">Wantirna</label>
         
         <input type='checkbox' id='Burwood' value='Burwood' v-model='checkedNames'>
         <label for= "Burwood">Burwood</label>
         
         <input type='checkbox' id='CBD' value='CBD' v-model= 'checkedNames' >
         <label for="CBD">CBD</label>

         <input type='checkbox' id='Kew' value='Kew' v-model= 'checkedNames' >
         <label for="Kew">Kew</label>
         
         <input type='checkbox' id='Bayswater' value='Bayswater' v-model= 'checkedNames' >
         <label for="Bayswater">Bayswater</label>

         <input type='checkbox' id='' value='Hawthorn' v-model= 'checkedNames' >
         <label for="Hawthorn">Hawthorn</label>

         <component1 style="color: gold;"></component1>
         <component2 style="color: gold;">❤️</component2>

        </body>  
        <script src ="main.js"></script>
        
        <body>
            
            <p style="text-align: center;"></pstyle>
                Confirm Bellow !
            </p>
            <button id="btn">Confirm</button>
            <p style="text-align: center;"></pstyle>
                Thank You for shopping at Melbourne Butchers Your delivery details will be emailed to you!❤️
            </p>
            <script src ="main.js"></script>

        </body>
        

        <body>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Future Delivery Locations..">

<ul id="myUL">
  <li><a href="#">Barnsdale</a></li>
  <li><a href="#">Adward</a></li>
  <li><a href="#">Doncaster</a></li>
  <li><a href="#">Knox</a></li>
  <li><a href="#">Bayswater</a></li>
  <li><a href="#">Wantirna</a></li>
  <li><a href="#">Kingslanding</a></li>
  <li><a href="#">Flemington</a></li>
  <li><a href="#">Southbank</a></li>
  <li><a href="#">Parkville</a></li>
  <li><a href="#">Kensington</a></li>
  <li><a href="#">Docklands</a></li>
  <li><a href="#">Fitzroy</a></li>
  <li><a href="#">Fairfield</a></li>
  <li><a href="#">St Kilda East</a></li>
  <li><a href="#">St Kilda West</a></li>
  <li><a href="#">South Yarra</a></li>
  <li><a href="#">Richmond</a></li>

</ul>
        </body>
<!-- Above is a filter list of future locations gregg and marget are going to deliver you can search it.  -->
